<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL Shortener</title>
</head>

<body>
  {{{ body }}}
</body>

<script>
  const targeTxt = document.querySelector('#target_txt')
  const copyBtn = document.querySelector('#copyBtn')

  function copyTxt() {
    navigator.clipboard.writeText(target_txt.innerText)
  }
</script>

</html>