<h2>URL Shortener</h2>
<img class="" src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
  alt="index_image">
<h3>Success! Please use this link:</h3>
{{#each urlsData}}
<a href="{{ this.short_links }}" id='target_txt'>{{ this.short_links }}</a>
{{/each}}
<button type="btn" id="copyBtn" onClick="copyTxt()">Copy</button>