<h2>URL Shortener</h2>
<img class="" src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
  alt="index_image">
<h3>Success! Please use this link:</h3>
<a href="{{ shortLinks }}">{{ shortLinks }}</a>
  <button type="btn">Copy</button>